/*Start General Style*/
body {
	background: #ddd;
	margin: 0;
	font-family: sans-serif;
	height: auto;
}
/*End General Style*/

/*Start Navbar Style*/
.navbar-container {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: #fff;
	box-shadow: 0 0.3px 5px blue;
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	z-index: 100;
}

.brand {
	font-family: 'Righteous', cursive;
	font-size: 38px;
}

.brand a {
	text-align: center;
	color: #387AF2;
}

.tologin {
	min-width: 150px;
	height: 25px;
	background-color: #387AF2;
	font-size: 16px;
	border-radius: 15px;
	text-align: center;
	border: 2px solid black;
	text-decoration: none;
	line-height: 22px;
	font-family: sans-serif;
	font-weight: bold;
	color: #fff;
	transition: .5s;
}

.tologin:hover {
	background-color: #1142c0;
	border: 2px solid #444;
	color: #ffe;
}
/*End Navbar Style*/

/*Start Form Style*/

/*End Form Style*/

/*Start Card Style*/
.container {
	position: relative;
	top: 150px;
	max-width: 950px;
	height: auto;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	flex-direction: row;
}

.card {
	width: 18%;
	padding: 2%;
	border-radius: 75px;
	overflow: hidden;
}

.card:hover .card-image {
	box-shadow: 0px 0px 6px #387AF2;
	border-radius: 15px 15px 0 0 ;
	overflow: hidden;
}

.card:hover .card-desc {
	box-shadow: 0px 4px 4px -2px #387AF2;
	border-radius: 0 0 15px 15px;
	overflow: hidden;	
}

.card .card-image {
	box-shadow: 0px 0px 5px #bbb;
	overflow: hidden;
	transition: .25s;
}

.card .card-desc {
	box-shadow: 0px 1px 5px #bbb;
	overflow: hidden;	
}

@media only screen and (max-width: 650px) {
	.card {
		width: 33%;
	}	
}

.card a {
	text-decoration: none;
	color: #387AF2;
	font-weight: bold;
}

.card-desc {
	background-color: #fff;
	text-align: center;
	font-size: 80%;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-image {
	background-color: rgba(159,216,242,0.3);
	height: 135px;
}

.card-image img {
	width: 100%;
	height: auto;
}
/*End Card Style-*/

/*Start Footer*/
#footer {
	font-family: cursive;
	width: 100%;
	background-color: #387AF2;
	height: 100px;
	margin-top: 300px;
	text-align: center;
	line-height: 100px;
	color: #ddd;
	font-weight: bold;
	box-shadow: 0 0 5px 1px #eee;
}

#footer .material-icons {
	line-height: 0;
	position: relative;
	top: 5px;
}
#footer span:hover {
	text-decoration: underline;
}
.bulb:hover {
	color: #E17AC8;
}
/*End Footer*/