/*Start CSS General*/

div, body {
	border: 1px solid red;
}
body {
	background: #ddd;
	height: 900px;
	font-family: sans-serif;
	position: relative;
	margin: 0;
}
/*End CSS General*/

/*Start CSS Header-Navbar*/
.navbar {
	position: fixed;
	width: 99.8%;
	background-color: #fff;
	height: 50px;
	box-shadow: 0 0.3px 5px blue;
	z-index: 999;
}

.navbar a {
	display: block;
}

.brand {
	
	position: absolute;
	/*top: 5px;*/
	left: 80px;
	text-decoration: none;
	font-size: 38px;
	font-family: 'Righteous', cursive;
	color: #387AF2;
	transition: 1s;
	/*border: 1px solid blue;*/
}

.brand:hover {
	color: blue;
}

.login {
	position: relative;
	float: right;
	top: 12px;
	right: 30px;
	background-color: #387AF2;
	color: #fff;
	width: 150px;
	height: 25px;
	border-radius: 15px;
	text-align: center;
	line-height: 25px;
	text-decoration: none;
	font-weight: bold;
	border: 0.3px solid black;
	transition: 0.3s;
}

.login:hover {
	background-color: #1142C0;
}
/*End CSS Header-Navbar*/

/*Start Content-Card*/
.container {
	width: 75%;
	margin: auto;
	position: relative;
	top: 100px;	
	/*text-align: center;*/
}

.card {
	float: left;
	background-color: #fff;
	/*margin: 3.5%;*/
	/*width: 13%;*/
	border-radius: 10%;
	overflow: hidden;
	text-align: center;
	height: 40%;
	box-shadow: 0px 1px 5px 0px #333;
	box-sizing: border-box;

}

.card:hover {
	box-shadow: 0px 1px 5px 0px blue;
}
.caption {
	height: 100%;
	text-decoration: none;
	font-weight: bold;
	color: #387af2;
	font-size: 1vw;
	line-height: 1vw;
	/*border: 1px solid red;*/
	overflow: hidden;
}

.image img {
	width: 100%;
	border-radius: 0 0 1px 1px;
	height: 100%;

}
/*End Content-Card*/

.clear {
	clear: both;
}