/*Start General Style*/
:root {
	/*font-family*/
  --Nunito: 'Nunito', sans-serif;
  --Rightos: 'Righteous', cursive, sans-serif;
  --Muli: 'Muli', sans-serif;
    /*color*/
  --bgColor: #F2F4F5;  
  --newBlue: #0099ff;
  --blueHov: #0E81CE;
}

* {
	user-select: none;
}

body {
	background: var(--bgColor);
	margin: 0;
	font-family: var(--Nunito);
	height: auto;
	width: 100%;
	scroll-behavior: smooth;
}

.body-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between`
}
/*End General Style*/

/*Start Navbar Style*/
.navbar-container {
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: #fff;
	box-shadow: 0 0.3px 5px var(--newBlue);
	height: 50px;
}

.navbar-content {
	margin: auto;
	max-width: 1200px;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}

.brand {
	font-family: var(--Rightos);
	font-size: 38px;
	color: var(--newBlue);
	text-shadow: 0.5px 0.5px 2px #00000050;
	transition: .35s;
}

.brand:hover {
	color: var(--blueHov);
}

.brand span {
	text-decoration: underline;
}

.login {
	min-width: 130px;
	height: 35px;
	background-color: var(--newBlue);
	font-size: 16px;
	border-radius: 15px;
	text-align: center;
	text-decoration: none;
	line-height: 35px;
	font-weight: bold;
	color: #fff;
	text-shadow: 0.5px 0.5px 2px #00000080;
	font-family: var(--Nunito);
	transition: .35s;
	box-shadow: 1px 1px 3px #00000050;
}

.login:hover {
	background-color: var(--blueHov);
}
/*End Navbar Style*/

/*Form Start Style*/
.form-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 100
}

.form-container {
	display: none;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

.form-brand {
	position: absolute;
	top: 40px;
	color: #0ABCF7;
	font-size: 230%;
	text-shadow: 0px 0px 3px black;
	font-family: var(--Rightos);
	height: 70px;
	width: 300px;
	text-align: center;
	line-height: 70px;
	transition: 1s ease-out; 
}

.form-brand:hover {
	transform: rotateX(360deg);
}

.form-login {
	background: linear-gradient(to bottom right,#eee, #999);
	height: 500px;
	width: 33.33%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	vertical-align: middle;
	border-radius: 60px;
	box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.4);
	position: absolute;
	top: 50%;
	z-index: 200;
	transform: translateY(-50%);
}

.closeBtn {
	font-size: 65px;
	font-family: verdana;
	position: relative;
	right: -50%;
	top: -15%;
	color: #eee;
	text-shadow: 0 0 5px #333;
	transition: .3s

}

.closebtn:hover {
	color: var(--newBlue);
	text-shadow: 0 0 10px pink;
}

@media only screen and (max-width: 650px) {
	.form-login {
		width: 98%;
		height: 500px;
		transform: translateY(-10%);
		top: 25%;
	}	
	.closebtn {
		right: -40%;
		top: -5%;
		color: #fff;
	}

	.btnclose .material-icons {
		font-size: 50px;
	}
}

.form-login input {
	width: 85%;
	font-size: 100%;
	height: 50px;
	outline: unset;
	margin-bottom: 20px;
	display: block;
	border-radius: 15px;
	padding: 3%;
	border: 2px solid #47B5FB;
	box-shadow: 3px 3px 5px #888;
	transition: .5s;
	font-family: var(--Muli);
	background-color: #95F7DF;
	
}

.form-login input:hover {
		border: 2px solid #079CC1;
		box-shadow: 3px 3px 5px #666;
}

.form-login input:focus {
		border: 2px solid #0BF3F0;
		background-color: #0BCBFB;
		box-shadow: 3px 3px 5px #666;
}

.form-login label {
	font-weight: bold;
	font-family: var(--Muli);
	position: relative;
	margin-bottom: 5px;
	width: 85%;
	
}

.form-login label[for="email"] {
	margin-top: 70px;
}

.form-opt {
	margin-top: -15px;
	width: 98%;
	margin-bottom: 20px;
	overflow-x: hidden;	
}

.fpw {
	float: right;
	
}

.nacc {
	float: left;
	
}

.fpw, .nacc {
	font-family: 'verdana',serif;
	color: #066C8A;
	transition: .5s;
}

.fpw:hover, .nacc:hover, #getIP:hover, #getAddr:hover {
	color: #fff;
	text-shadow: 0 0 3px black;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #1063FB;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #887;
  	transition: .2s;
}

.button:hover {
	background-color: var(--newBlue)
}

.button:active {
  background-color: var(--newBlue);
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}

#getIP, #getAddr {
	color: #239D9E;
	font-size: 15px;
	font-family: var(--Nunito);
	transition: .5s;
}

/*End Form Style*/

/*Start Card Style*/
marquee {
	color: var(--newBlue);
	text-shadow: 0 0 1px 3px #000;
	background-color: #eee;
	border-radius: 10px;
	box-shadow: 2px 2px 3px #66666660;
	transition: box-shadow .3s;
}

marquee:hover {
	box-shadow: 2px 2px 7px -2px var(--newBlue);
}

.card-container {
	position: relative;
	top: 150px;
	max-width: 950px;
	height: auto;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	flex-direction: row;
}

.card {
	width: 18%;
	padding: 2%;
	overflow: hidden;
}

.card-sizer {
	box-shadow: 2px 2px 7px -2px #22222270;
	border-radius: 15px;
	overflow: hidden;
	transition: transform .3s ease-in-out, box-shadow .35s .15s;
}

.card-sizer:hover {
	box-shadow: 2px 2px 7px -2px var(--newBlue);
	transform: scale(1.06);
}

.card-sizer .card-image {
	background-color: var(--newBlue);
	height: auto;
	overflow: hidden;
}

.card-sizer .card-desc {
	background-color: #fff;
	text-align: center;
	font-size: 80%;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-sizer .card-image img {
	width: 100%;
	height: auto;
	transform: scaleY(1.06);
}

.card-sizer .card-content {
	color: var(--newBlue);
	font-weight: bold;
}

@media only screen and (max-width: 650px) {
	.card-container {
		top: 80px;
	}

	.card {
		width: 33%;
	}
	.card-sizer {
		transform: scale(1);
	}
	
}
/*End Card Style-*/

/*Start Footer*/
footer {
	margin-top: 130px;
	font-family: var(--Nunito);
	width: 100%;
	color: #fff;
	text-shadow: 0.5px 0.5px 2px #00000080;
	font-weight: bold;
	position: relative;
}
#bg-wave {
	position: relative;
	width: 100%;
	bottom: -28px;
	z-index: -1;
}

.footer-container {
	max-width: 1300px;
	margin: auto;
}

.footer-content {
	background-color: var(--newBlue);
	padding: 0 30px 30px 30px;

}

.about {
	max-width: 800px;
	float: left;
}

.contact {
	max-width: 600px;
	float: left;
}

.contact ul li {
	position: relative;
	right: -5px;
	list-style-type: none;
	list-style: none;
}

.contact a {
	text-decoration: none;
	color: inherit;
	transition: .5s;
}

.contact a:hover {
	color: #ddd;
}

.copyright	{
	text-align: center;
}

.copyright a {
	text-decoration: none;
}

.copyright .arr:hover {
	text-decoration: underline;
}

.copysign {
	font-size: 27px;
	position: relative;
	top: 4px;
	right: -3px;
	font-weight: normal;
	width: 40px;
	display: inline-block;
}

.svg-icon {
	height: 1.3em; 
	width: 1.3em; 
	position: relative;
	transition: .3s;
}

.discord-icon {
	bottom: -7px;
	left: -5px;
	fill: #fff;
}

.discord-icon:hover, .whatsapp-icon:hover, .email-icon:hover, .github-icon:hover {
	fill: #ddd;
}

.whatsapp-icon, .email-icon {
	fill: #fff;
	position: relative;
	left: -5px;
	top: 4px;
}

.email-icon {
	height: 1.6em; 
	width: 1.6em;
	left: -8px;
	top: 8px;
}

.github-icon {
	position: relative;
	top: 4px;
	fill: #222;
}

.amail {
	position: relative;
	top: -2px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #128852;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 5px;
  position: absolute;
  z-index: 1;
  font-size: 18px;
  bottom: 110%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  box-shadow: 1px 1px 5px #00000080;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20%;
  margin-left: -9px;
  border-width: 9px;
  border-style: solid;
  border-color: #128852 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

footer hr {
	width: 80%;
	height: 4px;
	background-color: #fff;
	border-radius: 50%;
}

@media only screen and (max-width: 650px) {
	#bg-wave {
		bottom: -6px;
	}
}
/*End Footer*/