/*Start General Style*/
body {
	background: #ddd;
	margin: 0;
	font-family: sans-serif, verdana;
	height: auto;
	width: 100%;
}
/*End General Style*/

/*Start Navbar Style*/
.navbar-container {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: #fff;
	box-shadow: 0 0.3px 5px blue;
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	z-index: 100;
}

.brand {
	font-family: 'Righteous', cursive;
	font-size: 38px;
}

.brand a {
	text-align: center;
	color: #387AF2;
	text-decoration: none;
}

.brand span {
	text-decoration: underline;
}

.toLogin {
	min-width: 150px;
	height: 25px;
	background-color: #387AF2;
	font-size: 16px;
	border-radius: 15px;
	text-align: center;
	border: 2px solid black;
	text-decoration: none;
	line-height: 22px;
	font-family: sans-serif;
	font-weight: bold;
	color: #fff;
	transition: .5s;
}

.toLogin:hover {
	background-color: #1142c0;
	border: 2px solid #444;
	color: #ffe;
}
/*End Navbar Style*/

/*Form Start Style*/
.form-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 100
}
.form-container {
	display: none;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

#login:target {
	display: flex;
}

.form-brand {
	position: absolute;
	top: 40px;
	color: #0ABCF7;
	font-size: 230%;
	text-shadow: 0px 0px 3px black;
	font-family: 'Righteous', cursive;
	height: 70px;
	width: 300px;
	text-align: center;
	line-height: 70px; 
}

.form-login {
	background: linear-gradient(to bottom right,#eee, #999);
	height: 500px;
	width: 33.33%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	vertical-align: middle;
	border-radius: 60px;
	box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.4);
	position: absolute;
	top: 50%;
	z-index: 200;
	transform: translateY(-50%);
}

.closebtn {
	position: relative;
	right: -50%;
	top: -15%;
	color: #eee;
	text-shadow: 0 0 5px #333;

}

.closebtn .material-icons {
	font-size: 50px;
}

@media only screen and (max-width: 650px) {
	.form-login {
		width: 98%;
		height: 500px;
		transform: translateY(-10%);
		top: 25%;
	}	
	.closebtn {
		right: -40%;
		top: -5%;
		color: #fff;
	}

	.btnclose .material-icons {
		font-size: 50px;
	}
}

.form-login input {
	width: 85%;
	font-size: 100%;
	height: 50px;
	outline: unset;
	margin-bottom: 20px;
	display: block;
	border-radius: 15px;
	padding: 3%;
	border: 2px solid #47B5FB;
	box-shadow: 3px 3px 5px #888;
	transition: .5s;
	font-family: 'Muli', sans-serif;
	background-color: #95F7DF;
	
}

.form-login input:focus {
		border: 2px solid #0BF3F0;
		background-color: #0BCBFB;
		box-shadow: 3px 3px 5px #666;
}

.form-login label {
	font-weight: bold;
	font-family: 'Muli', sans-serif;
	position: relative;
	margin-bottom: 5px;
	width: 85%;
	
}

.form-login label[for="email"] {
	margin-top: 90px;
}

.form-opt {
	margin-top: -15px;
	width: 98%;
	margin-bottom: 20px;
	overflow-x: hidden;
	
}

.fpw {
	float: right;
	
}

.nacc {
	float: left;
	
}

.fpw, .nacc {
	text-decoration: none;
	font-family: 'verdana',serif;
	color: #066C8A;
	transition: .5s;
}

.fpw:hover, .nacc:hover {
	color: #fff;
	text-shadow: 0 0 3px black;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #1063FB;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #887;
  	transition: .2s;
}

.button:hover {background-color: #387AF2}

.button:active {
  background-color: #387AF2;
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}

/*End Form Style*/

/*Start Card Style*/
.card-container {
	position: relative;
	top: 150px;
	max-width: 950px;
	height: auto;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	flex-direction: row;
}

.card {
	width: 18%;
	padding: 2%;
	overflow: hidden;
}

.card-sizer {
	box-shadow: 2px 2px 7px -2px #222;
	border-radius: 15px;
	overflow: hidden;
	transition: transform .3s ease-in-out, box-shadow .35s .15s;
}

.card-sizer:hover {
	box-shadow: 2px 2px 7px -2px #387AF2;
	transform: scale(1.09);
}

.card-sizer .card-image {
	background-color: rgba(159,216,242,0.3);
	height: auto;
}

.card-sizer .card-desc {
	background-color: #fff;
	text-align: center;
	font-size: 80%;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-sizer .card-image img {
	width: 100%;
	height: auto;
}

.card-sizer a {
	text-decoration: none;
	color: #387AF2;
	font-weight: bold;
}

@media only screen and (max-width: 650px) {
	.card {
		width: 33%;
	}	
}
/*End Card Style-*/

/*Start Footer*/
footer {
	font-family: cursive, verdana, sans-serif;
	width: 100%;
	background-color: #387AF2;
	color: #ddd;
	position: relative;
	bottom: -300px;
	padding: 30px;
	box-shadow: 0 -2px 2px white;
}

.copyright	{
	text-align: center;
}

.copyright a {
	text-decoration: none;
}

.copyright span:hover {
	text-decoration: underline;
}

.contact a {
	text-decoration: none;
	color: inherit;
}

.contact a:hover {
	text-decoration: underline;
}

.svg-icon {
	height: 1.3em; 
	width: 1.3em; 
	position: relative;  
	right: -5px;
}

.github-icon {
	border-radius: 50%;
	bottom: -5px;
	fill: #ddd	
}

.github-icon:hover {
	background: #222;
	fill: #fff;
}

.discord-icon {
	bottom: -7px;
	fill: #ddd;
}

.discord-icon:hover {
	fill: #aaa;
}
/*End Footer*/